@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Pontano+Sans:wght@300..700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
background-image: url("images/pawel.jpg");
  background-repeat: no-repeat; /* Prevent repeating */
  background-size: cover;     /* Scale to cover entire area */
  background-position: center; 
}
.container{
  max-width: 1320px;
  width: 100%;
  padding:0 1rem;
  margin: 0 auto;
}

ul{
  list-style: none;
}
a{
  text-decoration:none;
  cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:2rem 1rem;
    width: 100%;
    position: relative;
   }
   header .logo a{
    color: rgb(3, 3, 3);
    font-family: "Metrophobic", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    
   }
   header .logo i {
    font-size: 1.5rem;
   }
   header .logo h2 {
    font-size: 1.3rem;
   }
  .menu-Icon{
    font-size: 1.5rem;
    z-index: 9999;
  }
   header ul{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 3rem;
  } 
   
   header ul li a{
    color: black;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Metrophobic", sans-serif;
   }
   header ul li a:hover{
    color:gray;
   }   


.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  font-family: "Metrophobic", sans-serif;
}
.hero i{
  font-size: 13rem;
  margin-top: 2rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.hero-content h1{
  font-size:2rem;
}
.hero-content p{
  font-size:1rem;
}
.hero-buttons{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color:black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}


@media (min-width:560px){
  .menu-Icon{
    display: none;
  }
}
@media (max-width:560px){
  header ul{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #dfdfdf;
    padding: 2rem;
    border-radius: 5px;
    transform: translateY(-30%);
    opacity:0;
    transition: all 0.2s ease-in-out;
  }
  header ul.active{
    transform: translateY(0%);
    opacity:1;
   }
}
@media (min-width:720px){
  .hero {
    flex-direction: row;
}
.hero-img{
  width: 50%;
}
.hero-content {
  align-items: start;
  text-align: left;
  gap: 1rem;
  width: 50%;
}
.hero i {
  font-size: 16rem;
}
header{
  padding:2rem 1rem;
}

header .logo i {
  font-size: 3.5rem;
}
header .logo h2 {
  font-size: 2rem;
}
header ul li a {
  font-size: 1.5rem;
}
.hero-content h1{
  font-size: 2.9rem;
}
.hero-content p{
  font-size: 1.3rem;
}
.hero-buttons button {
  padding: 1rem 1.5rem;
  font-size: 15px;
}

}
@media (min-width:960px){
  .hero{
    margin-top: 0.5rem;
  }
  .hero i {
    font-size: 30rem;
}
.hero-content h1 {
  font-size: 3.9rem;
}
.hero-content p {
  font-size: 1.7rem;
}
.hero-buttons {
  gap: 1.3rem;
}
.hero-buttons button {
  padding: 1.3rem 1.9rem;
  font-size: 15px;
}
}



.productsWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.product-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-family: "Metrophobic", sans-serif;
}


.product-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.product {
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  padding: 0.3rem;
  box-shadow: 0.3rem 0.6rem 1rem rgb(0 0 0 / 23%);
  font-family: "Metrophobic", sans-serif;
  transition: all 0.2s ease-in-out;
}
.product:hover{
  transform: translateY(-3%);
}

.productImg img {
  width: 100%;
  height: 200px; 
  object-fit: contain; 
  display: block;
  filter: drop-shadow(0.3rem 0.6rem 1rem rgb(0 0 0 / 15%));
}

.product-detail {
  padding: 20px;
}

.product-detail h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.ratingsNcategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating span {
  font-size: 14px;
  color: #666;
}
.rating span:nth-child(2) {
  font-size: 14px;
  color: #ff9100;
}

.price span {
  font-size: 16px;
  font-weight: bold;
  color: #080808;
}

@media (min-width:720px){
  .product-container {
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width:960px){
  .product-container {
    margin-top: 4rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

footer{
  margin-top: 4rem;
    width: 100%;
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    border-top: 1px solid rgb(175, 175, 175);
}

footer .logo{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
footer .logo i{
  font-size: 30px;
}
footer .address{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .routerLinks{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .routerLinks a{
  color: black;
}
footer .routerLinks a:hover{
 color: white;
}

.socialLinks{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.socialLinks div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.socialLinks i{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.socialLinks i:hover{
  transform: translateY(-5%);
  color:white;
}

@media (min-width:720px){
  footer{
      grid-template-columns: repeat(3, 1fr);
  }
}




/* --------------------Detail Page---------------- */


.detail-header{
  text-align: start;
  padding:1rem;
  
}
.detail-header h2{
  font-family: "Metrophobic", sans-serif;
  color: #666;
  font-size: 1rem;
}
.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Metrophobic", sans-serif;
}
.thisProductImageWrapper{
  padding: 2rem;
}
.thisProductImageWrapper img{
  width: 100%;
  filter: drop-shadow(0.3rem 0.6rem 1rem rgba(10, 10, 10, 0.5));
}

.thisProductDetails{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.thisProductbuttons{
  display: flex;
  flex-direction:row ;
  align-items: center;
  gap: 1rem;
}
.thisProductbuttons button{
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0.3rem 0.6rem 1rem rgb(0 0 0 / 23%);
}
.thisProductbuttons button:hover{
  transform: translateY(-3%);
}
.thisProductbuttons button:nth-child(1){
  background-color: #e2e2e2;
}
.thisProductbuttons button:nth-child(2){
  background-color: #030303;
  color: white;
}

.titleNprice{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  justify-content: space-between;
}
.titleNprice div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.titleNprice h3{
  font-size: 1.5rem;
}
.titleNprice p{
  font-size: 1rem;
  color: #666;
  
}
.titleNprice strong{
  font-size: 2rem;
  color: #ff9100;
}



@media (min-width:720px){
  .detail {
    flex-direction: row;
}
.titleNprice h3{
  font-size: 2.3rem;
}
.titleNprice p{
  font-size: 1.3rem;
  margin-top: 10px;
}
.thisProductbuttons button{
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
}
.thisProductDes{
  font-size: 1.3rem;
  line-height: 2rem;
}
.thisProductImageWrapper{
  width: 50%;
}
.thisProductDetails{
  width: 50%;
}
.titleNprice{
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
.titleNprice div{
  flex-direction: column;
  align-items: start;
}
}




@media (min-width:960px){
  .detail {
    flex-direction: row;
}
.titleNprice h3{
  font-size: 3rem;
}
.titleNprice p{
  font-size: 1.8rem;
  margin-top: 10px;
}
.thisProductbuttons button{
  padding: 1rem 3rem;
  font-size: 1.2rem;
}
.thisProductDes{
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.thisProductImageWrapper{
  width: 50%;
}
.thisProductDetails{
  width: 50%;
}
.titleNprice{
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
}



.similar-products{
  margin-top: 3rem;
  font-family: "Metrophobic", sans-serif;
  border-top: 1px solid rgb(177, 177, 177);
  padding: 3rem 0;
}

.similar-title{
  text-align: start;
  color: #666;
  font-size: 1rem;
}

.similar-products-wrapper{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (min-width:720px){
  .similar-products-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width:960px){
  .similar-products-wrapper{
    grid-template-columns: repeat(4, 1fr);
  }
}
                
